/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  .recipes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
  }
  
  .recipe-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 800px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 8px;
  }
  
  .recipe-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .recipe-box h3 {
    color: #333;
    margin-top: 0;
  }

  .recipe-box h4 {
    color: #333;
    margin-top: 0;
  }
  
  .recipe-box p {
    font-size: 14px;
    line-height: 1.4;
  }
  
  .recipe-box ul {
    list-style-type: none;
    padding: 0;
  }
  
  .recipe-box li {
    padding: 5px 0;
    color: black;
  }
